div.bg-success:hover, div.bg-warning, div.bg-danger {
  cursor: pointer;
}

div.bg-success:hover {
  background-color: rgb(39, 255, 39) !important;
}

div.bg-warning:hover {
  background-color: rgb(59, 59, 23) !important;
}

div.bg-danger:hover {
  background-color: rgb(255, 63, 56) !important;
}