html,
body {
  height: 100%; /* Asegura que el cuerpo y el HTML ocupen el 100% del viewport */
  margin: 0; /* Elimina el margen predeterminado */
  overflow: hidden;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%; /* Flex-grow para que ocupe el 80% del espacio disponible */
}

.texto {
  padding: 20px;
}

#frase {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  color: pink;
  text-shadow: 2px 2px gray;
  text-align: center;
}

.footer-flex-container {
  display: flex;
  justify-content: space-between; /* Para que los elementos se coloquen uno al lado del otro */
  align-items: center;
  height: 10%; /* Flex-grow para que ocupe el 20% del espacio disponible */
}

.footer-flex-container p:first-child,
.footer-flex-container p:last-child {
  font-size: 40px;
  text-align: center;
  font-family: cursive;
}

.footer-flex-container .change {
  border-radius: 8px;
  box-shadow: 0px 0px 8px gray;
  padding-left: 10%;
  padding-right: 10%;
}

.change {
  margin: 0 10px; /* Ajusta el margen entre los elementos si es necesario */
}

.heart {
    font-size: 100px !important;
}