/* Estilo para la primera columna con clase col-md-4 */
.container-fluid:nth-child(1) {
  height: 8vh;
}

/* Estilo para columnas con clase col-md-4 */
.col-md-4 {
  height: 92vh;
  border: 1px solid rgb(148, 148, 148);
}

/* Estilo para la zona de soltar elementos */
.zone {
  border: 2px dashed #ccc;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  height: 84vh;
}

/* Estilos cuando el cursor está sobre la zona de soltar elementos */
.zone:hover {
  border-width: 2px;
  border-style: solid;
  border-color: #397e58;
  color: #2a724a;
}

.zone-image {
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  height: 84vh;
}

.zone-image:hover {
  border-width: 2px;
  border-style: solid;
  border-color: #305e8a;
  color: #296bc7;
}

/* Estilo para botones con clase btn y btn-outline-secondary dentro de columnas con clase col-md-12 */
button.btn.btn-outline-secondary.col-md-12 {
  border-radius: 0 0 10px 10px;
}
